.AverageSpeedTab {
    top: 52px;
}

@media (orientation: portrait) {
    .AverageSpeedTab {
        left: 106px;
    }
}

@media (orientation: landscape) {
    .AverageSpeedTab {
        left: 96px;
    }
}
