.BottomPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-right: 24px;
    text-align: right;
}
.BottomPanel.enableTransition {
    transition: background-color 0.5s linear;
}
.BottomPanel.darkTheme {
    background-color: #111;
}
.BottomPanel.lightTheme {
    background-color: #eee;
}
.BottomPanel.highlight.enableTransition {
    transition: none;
}
.BottomPanel.highlight.darkTheme {
    background-color: #555;
}
.BottomPanel.highlight.lightTheme {
    background-color: #aaa;
}

.BottomPanel-label {
    position: absolute;
    top: 6px;
    left: 8px;
    font-size: 15px;
    line-height: 15px;
}
.BottomPanel-label.enableTransition {
    transition: color 0.5s linear;
}
.BottomPanel-label.darkTheme {
    color: #999;
}
.BottomPanel-label.lightTheme {
    color: #666;
}
.BottomPanel-label.highlight.enableTransition {
    transition: none;
}
.BottomPanel-label.highlight.darkTheme {
    color: #fff;
}
.BottomPanel-label.highlight.lightTheme {
    color: #000;
}
