.Button {
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.5s linear, color 0.5s linear;
}
.darkTheme .Button {
    background-color: #444;
}
.lightTheme .Button {
    background-color: #bbb;
}

.Button-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.darkTheme .Button-content.active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #222;
}
.lightTheme .Button-content.active {
    color: #000;
    background-color: #999;
}
.Button-content.selected {
    background-color: #07f;
}
.darkTheme .Button-content.selected {
    color: #fff;
}
.lightTheme .Button-content.selected {
    color: #fff;
}
.Button-content.selected.active {
    background-color: #05b;
}
.darkTheme .Button-content.selected.active {
    color: rgba(255, 255, 255, 0.5);
}
.lightTheme .Button-content.selected.active {
    color: rgba(255, 255, 255, 0.5);
}
