.ClockPanel {
    line-height: 130px;
}

.ClockPanel-content {
    display: inline;
    font-weight: bold;
}

.ClockPanel-second {
    display: inline;
}

@media (orientation: portrait) {
    .ClockPanel {
        font-size: 68px;
    }
    .ClockPanel-second {
        font-size: 34px;
        line-height: 34px;
    }
}

@media (orientation: landscape) {
    .ClockPanel {
        font-size: 58px;
    }
    .ClockPanel-second {
        font-size: 29px;
        line-height: 29px;
    }
}
