.MainPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
    text-align: center;
}

.MainPanel-content {
    position: absolute;
}

.MainPanel-panel {
    position: absolute;
    top: 158px;
    left: 2px;
    height: 130px;
}

@media (orientation: portrait) {
    .MainPanel-panel {
        width: 316px;
    }
}

@media (orientation: landscape) {
    .MainPanel-panel {
        width: 284px;
    }
}
