.ResetButton {
    position: absolute;
    height: 54px;
    line-height: 54px;
    font-size: 22px;
}

.ResetButton-content {
    color: #fff;
    background-color: #e00;
}
.ResetButton-content.active {
    background-color: #b00;
    color: rgba(255, 255, 255, 0.5);
}

@media (orientation: portrait) {
    .ResetButton {
        top: 424px;
        left: 2px;
        width: 104px;
    }
}

@media (orientation: landscape) {
    .ResetButton {
        top: 158px;
        left: 288px;
        width: 190px;
    }
}
