.ResetButton {
    position: absolute;
    line-height: 54px;
    font-size: 22px;
}

@media (orientation: portrait) {
    .ResetButton {
        top: 424px;
        left: 2px;
        width: 104px;
    }
}

@media (orientation: landscape) {
    .ResetButton {
        top: 158px;
        left: 288px;
        width: 190px;
    }
}
