.SettingsPanel {
    font-size: 68px;
    line-height: 120px;
}

.SettingsPanel-label {
    position: absolute;
    top: 0px;
    left: 8px;
    font-size: 15px;
    line-height: 30px;
    color: #999;
    transition: color 0.5s linear;
}
.SettingsPanel-label.highlight {
    color: #fff;
    transition: none;
}

.SettingsPanel-button {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 50px;
    line-height: 50px;
}

.SettingsPanel-metricButton {
    margin-left: 2px;
}

.SettingsPanel-fieldLabel {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-right: 8px;
}
