.SettingsPanel-button {
    position: absolute;
    bottom: 24px;
    width: 100px;
    height: 50px;
    line-height: 50px;
}

.SettingsPanel-imperialButton {
    right: 126px;
}

.SettingsPanel-metricButton {
    right: 24px;
}

.SettingsPanel-fieldLabel {
    position: absolute;
    left: 24px;
    bottom: 24px;
    font-size: 16px;
    line-height: 50px;
}
