.SpeedLabel {
    position: absolute;
    top: 2px;
    left: 2px;
    text-align: right;
    background-color: #111;
    padding-right: 24px;
    transition: background-color 0.5s linear;
}
.light .SpeedLabel {
    background-color: #eee;
}

.SpeedLabel-label {
    position: absolute;
    top: 6px;
    left: 8px;
    font-size: 20px;
    line-height: 20px;
    color: #999;
    transition: color 0.5s linear;
}
.light .SpeedLabel-label {
    color: #666;
}

.SpeedLabel-arrow {
    position: absolute;
    top: 0;
    left: 24px;
    line-height: 154px;
    height: 154px;
    font-weight: bold;
}

.SpeedLabel-integerPart {
    display: inline;
    font-weight: bold;
    line-height: 154px;
    transition: color 0.5s linear;
}

.SpeedLabel-fractionalPart {
    display: inline;
    font-weight: bold;
    transition: color 0.5s linear;
}

.SpeedLabel-unit {
    position: absolute;
    right: 24px;
    font-size: 20px;
    line-height: 20px;
    color: #999;
    transition: color 0.5s linear;
}
.light .SpeedLabel-unit {
    color: #666;
}

@media (orientation: portrait) {
    .SpeedLabel {
        width: 316px;
    }
    .SpeedLabel-arrow {
        font-size: 50px;
    }
    .SpeedLabel-integerPart {
        font-size: 100px;
    }
    .SpeedLabel-fractionalPart {
        font-size: 50px;
        line-height: 50px;
    }
    .SpeedLabel-unit {
        top: 39px;
    }
}

@media (orientation: landscape) {
    .SpeedLabel {
        width: 284px;
    }
    .SpeedLabel-arrow {
        font-size: 43px;
    }
    .SpeedLabel-integerPart {
        font-size: 86px;
    }
    .SpeedLabel-fractionalPart {
        font-size: 43px;
        line-height: 43px;
    }
    .SpeedLabel-unit {
        top: 44px;
    }
}
