.SpeedLabel {
    margin: 2px;
    background: #111;
}

.SpeedLabel-label {
    position: absolute;
    top: 0px;
    left: 8px;
    font-size: 20px;
    line-height: 30px;
    color: #999;
}

.SpeedLabel-content {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 110px;
    line-height: 140px;
    height: 140px;
}

.SpeedLabel-grey {
    display: inline;
    color: transparent;
    font-weight: bold;
}

.SpeedLabel-integerPart {
    display: inline;
    font-weight: bold;
}

.SpeedLabel-fractionalPart {
    display: inline;
    font-weight: bold;
    font-size: 55px;
    line-height: 55px;
}

.SpeedLabel-unit {
    position: absolute;
    top: 29px;
    right: 0;
    font-size: 20px;
    line-height: 20px;
    color: #999;
}
