.SpeedLabel {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 110px;
    line-height: 140px;
    margin-bottom: -30px;
}

.SpeedLabel-grey {
    display: inline;
    color: #111;
    font-weight: bold;
}

.SpeedLabel-integerPart {
    display: inline;
    font-weight: bold;
}

.SpeedLabel-fractionalPart {
    display: inline;
    font-weight: bold;
    font-size: 55px;
    line-height: 55px;
}

.SpeedLabel-unit {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 20px;
    line-height: 20px;
}
