.SpeedPanel-integerPart {
    display: inline;
    font-weight: bold;
    line-height: 130px;
}

.SpeedPanel-fractionalPart {
    display: inline;
    font-weight: bold;
}

.SpeedPanel-unit {
    position: absolute;
    right: 24px;
    font-size: 14px;
    line-height: 20px;
}
.SpeedPanel-unit.darkTheme {
    color: #999;
}
.SpeedPanel-unit.lightTheme {
    color: #666;
}

@media (orientation: portrait) {
    .SpeedPanel-integerPart {
        font-size: 68px;
    }
    .SpeedPanel-fractionalPart {
        font-size: 34px;
        line-height: 34px;
    }
    .SpeedPanel-unit {
        top: 36px;
    }
}

@media (orientation: landscape) {
    .SpeedPanel-integerPart {
        font-size: 58px;
    }
    .SpeedPanel-fractionalPart {
        font-size: 29px;
        line-height: 29px;
    }
    .SpeedPanel-unit {
        top: 39px;
    }
}
