.StartStopButton {
    position: absolute;
    font-size: 28px;
}

@media (orientation: portrait) {
    .StartStopButton {
        top: 424px;
        left: 108px;
        width: 210px;
        height: 54px;
        line-height: 54px;
    }
}

@media (orientation: landscape) {
    .StartStopButton {
        top: 214px;
        left: 288px;
        width: 190px;
        height: 104px;
        line-height: 104px;
    }
}
