.StatusPanel {
    position: absolute;
    top: 290px;
    left: 2px;
    height: 28px;
    line-height: 28px;
    text-align: left;
    padding-left: 8px;
    transition: color 0.5s linear, background-color 0.5s linear;
}
.darkTheme .StatusPanel {
    background-color: #111;
    color: #999;
}
.lightTheme .StatusPanel {
    background-color: #eee;
    color: #666;
}
.StatusPanel.highlight {
    transition: none;
}
.darkTheme .StatusPanel.highlight {
    color: #fff;
    background-color: #555;
}
.lightTheme .StatusPanel.highlight {
    color: #000;
    background-color: #aaa;
}

.StatusPanel-value {
    position: absolute;
    top: 0;
    right: 8px;
    font-weight: bold;
    transition: color 0.5s linear;
}
.darkTheme .StatusPanel-value {
    color: #fff;
}
.lightTheme .StatusPanel-value {
    color: #000;
}
.StatusPanel-value.error {
    color: #f00;
    transition: none;
}

@media (orientation: portrait) {
    .StatusPanel {
        width: 316px;
    }
}

@media (orientation: landscape) {
    .StatusPanel {
        width: 284px;
    }
}
