.StatField-label {
    color: #999;
}
.light .StatField-label {
    color: #666;
}

.StatField-value {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

.StatField-integerPart {
    display: inline;
}

.StatField-fractionalPart {
    display: inline;
    font-size: 14px;
}
