.Tab {
    position: absolute;
    height: 50px;
    opacity: 1;
    transition: opacity 0.2s linear;
}
.Tab.highlight {
    opacity: 0;
    transition: none;
}

.Tab-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.Tab-content {
    display: inline-block;
    vertical-align: middle;
}

@media (orientation: portrait) {
    .Tab {
        width: 104px;
    }
}

@media (orientation: landscape) {
    .Tab {
        width: 94px;
    }
}
