.TripDistancePanel-integerPart {
    display: inline;
    font-weight: bold;
    line-height: 130px;
}

.TripDistancePanel-fractionalPart {
    display: inline;
    font-weight: bold;
}

.TripDistancePanel-unit {
    position: absolute;
    right: 24px;
    font-size: 14px;
    line-height: 20px;
}
.TripDistancePanel-unit.darkTheme {
    color: #999;
}
.TripDistancePanel-unit.lightTheme {
    color: #666;
}

@media (orientation: portrait) {
    .TripDistancePanel-integerPart {
        font-size: 68px;
    }
    .TripDistancePanel-fractionalPart {
        font-size: 34px;
        line-height: 34px;
    }
    .TripDistancePanel-unit {
        top: 36px;
    }
}

@media (orientation: landscape) {
    .TripDistancePanel-integerPart {
        font-size: 58px;
    }
    .TripDistancePanel-fractionalPart {
        font-size: 29px;
        line-height: 29px;
    }
    .TripDistancePanel-unit {
        top: 39px;
    }
}
